{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div>
            <div>
                <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>
            </div>
            <h3><a href="">{{ post.title }}</a></h3>
            <p>{{ post.content|truncatewords:30 }}</p>
            <button class="btn btn-default" onclick="location.href ={{ post.id }}">Read More</button>

        </div>
        <hr>
    {% endfor %}
{% endblock content %}